@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/font/ITC Avant Garde Gothic Std Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/font/ITC Avant Garde Gothic Std Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/font/ITC Avant Garde Gothic Std Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/font/ITC Avant Garde Gothic Std Extra Light.otf") format("truetype");
  font-weight: lighter;
}
body {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  background: rgb(231, 235, 237);
  background: linear-gradient(164deg, rgb(231, 235, 237) 7%, rgb(127, 192, 211) 87%);
}
body .animate__animated {
  animation-duration: 2.5s;
}
body h1 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 2.5rem;
  font-weight: bold;
  color: #00348C;
}
body h2 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 2.2rem;
  font-weight: bold;
  color: #00348C;
}
body h3 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 1.1rem;
  font-weight: normal;
  color: #646464;
}

.mobil {
  display: none;
}

@media (max-width: 767px) {
  .mobil {
    display: block;
  }
  .desk {
    display: none;
  }
}
.container-hojas {
  position: absolute;
  top: 3.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
  width: 100%;
}
.container-hojas img {
  height: 132vh;
}
.container-hojas .hojas-gracias img {
  height: 100%;
}
@media (max-width: 767px) {
  .container-hojas {
    display: none;
  }
}

.container-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15rem;
}
@media (max-width: 767px) {
  .container-contenido {
    padding: 0.5rem;
    flex-direction: column;
  }
}
.container-contenido .container-logo {
  margin-left: 2rem;
}
.container-contenido .container-logo img {
  width: auto;
  height: 5rem;
}
.container-contenido .container-titulo {
  width: 100%;
  height: auto;
  margin: 1rem 2.7rem 1rem 2.7rem;
}
@media (max-width: 767px) {
  .container-contenido .container-titulo {
    margin: 0;
  }
}
.container-contenido .container-subtitulo {
  width: 100%;
  height: auto;
  margin: 1rem 2.7rem 1rem 2.7rem;
}
@media (max-width: 767px) {
  .container-contenido .container-subtitulo {
    margin: 0;
  }
}
.container-contenido .container-subtitulo .mensaje-confirmacion {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 0.8rem;
  font-weight: 500;
  font-style: normal;
  color: #00348C;
}
.container-contenido .container-imagen-greeicy-01 {
  text-align: center;
  align-self: flex-end;
}
@media (max-width: 767px) {
  .container-contenido .container-imagen-greeicy-01 .desk {
    display: none;
  }
}
.container-contenido .container-imagen-greeicy-01 img {
  height: 23rem;
  width: auto;
  z-index: 1;
}
.container-contenido .columna01 {
  width: 100%;
}
.container-contenido .container-formulario {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding-bottom: 3.5rem;
}
@media (max-width: 767px) {
  .container-contenido .container-formulario {
    padding-bottom: 0;
  }
}
.container-contenido .container-formulario .formulario {
  background: rgba(255, 255, 255, 0.363);
  backdrop-filter: blur(4.1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(10, 84, 228, 0.5);
  border-radius: 20px;
  opacity: 1;
  padding: 1rem;
  width: 19rem;
  font-family: "ITC Avant Garde Gothic Std", Arial;
}
@media (max-width: 767px) {
  .container-contenido .container-formulario .formulario {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
.container-contenido .container-formulario .formulario .campo {
  margin-top: 0.35rem;
}
.container-contenido .container-formulario .formulario .form-label {
  color: #00348C;
  font-weight: 500;
  font-size: 0.8rem;
}
.container-contenido .container-formulario .formulario .form-control, .container-contenido .container-formulario .formulario .form-select, .container-contenido .container-formulario .formulario .form-control::placeholder {
  color: #9DA0A2;
  font-weight: normal;
  font-size: 0.6rem;
  border-radius: 0%;
  height: 2.1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.container-contenido .container-formulario .formulario .form-check-label {
  color: #00348C;
  font-size: 0.6rem;
}
.container-contenido .container-formulario .formulario .boton-formulario {
  background: transparent linear-gradient(90deg, var(--unnamed-color-0a54e4) 0%, #052A72 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #0A54E4 0%, #052A72 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 29px;
  font-size: 0.8rem;
}
.container-contenido .container-formulario .formulario .invalid-feedback {
  font-size: 0.6rem;
}
.container-contenido .columna01-gracias {
  padding-top: 5.8rem;
  width: 50%;
}
.container-contenido .columna01-gracias .container-imagen-greeicy-03 img {
  height: auto;
  width: 100%;
  z-index: 1;
}
.container-contenido .columna02 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 5rem;
  padding-left: 2rem;
}
.container-contenido .columna02 .container-texto-greeicy img {
  width: 20rem;
}
.container-contenido .columna02 .container-firma-greeicy {
  text-align: right;
}
.container-contenido .columna02 .container-firma-greeicy img {
  height: auto;
  width: 6rem;
}
.container-contenido .columna02 h2 {
  padding-top: 2rem;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00348C;
}
.container-contenido .columna02 h3 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  color: #646464;
  padding-bottom: 2rem;
}
.container-contenido .columna02 .redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #00348C;
  padding-bottom: 3rem;
}
.container-contenido .columna02 .redes svg {
  width: 2.1rem;
  height: auto;
  background-color: #ffffff;
  margin: 0 2rem 0 0;
  padding: 0.5rem;
  border-radius: 100%;
  z-index: 1;
}
.container-contenido .columna02 .redes svg path {
  z-index: 2;
}

.container-footer-gracias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding-bottom: 0.6rem;
  background-color: #00348C;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 9rem;
  margin-top: 0;
}
.container-footer-gracias .boton-home {
  align-self: center;
  justify-self: center;
  margin: 1rem;
  padding: 0 3rem;
}
.container-footer-gracias .boton-home button {
  border: 1px solid #FFFFFF;
  border-radius: 29px;
  padding: 0.7rem 1.1rem;
  text-transform: uppercase;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 0.65rem;
}
.container-footer-gracias .boton-home button:hover {
  color: #00348C;
}
.container-footer-gracias .footer-redes {
  text-align: left;
}
.container-footer-gracias .footer-redes h6 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 0.65rem;
  color: #ffffff;
  padding-top: 1rem;
}
.container-footer-gracias .footer-redes .logos-redes {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-footer-gracias .footer-redes .logos-redes svg {
  margin: 0 0.4rem 0 0;
}
.container-footer-gracias span {
  color: #ffffff;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: lighter;
  font-size: 0.6rem;
}

.container-banner {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15rem;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .container-banner {
    display: block;
    margin: 0;
  }
}

.cuenta-regresiva {
  background: #00348C 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 57px;
  color: #ffffff;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  padding: 0.7rem 4.5rem;
  margin-top: -2.7rem;
  z-index: 2;
}
@media (max-width: 767px) {
  .cuenta-regresiva {
    border-radius: 0;
    padding: 0.5rem;
  }
}
.cuenta-regresiva h4 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 767px) {
  .cuenta-regresiva h4 {
    font-size: 0.9rem;
  }
}
.cuenta-regresiva .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .cuenta-regresiva .countdown {
    font-size: 1rem;
  }
}
.cuenta-regresiva .timer {
  margin: 0 10px;
}

.texto-banner {
  padding: 2rem 15rem;
  color: #646464;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 767px) {
  .texto-banner {
    padding: 1rem 0.5rem;
    font-size: 1rem;
  }
}

.iconos {
  color: #00348C;
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}
.iconos .calendario, .iconos .map, .iconos .reloj {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.iconos .calendario svg, .iconos .map svg, .iconos .reloj svg {
  height: 2rem;
  width: auto;
}

.container-final {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-start;
  margin: 0 15rem;
}
@media (max-width: 767px) {
  .container-final {
    display: none;
  }
}
.container-final .col-izq-final {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
}
.container-final .col-izq-final .container-redes h5 {
  padding-top: 2.9rem;
  padding-bottom: 1rem;
  text-align: left;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  color: #00348C;
  font-weight: 500;
  font-size: 0.8rem;
}
.container-final .col-izq-final .container-redes .redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #00348C;
}
.container-final .col-izq-final .container-redes .redes svg {
  width: 2.1rem;
  height: auto;
  background-color: #ffffff;
  margin: 0 2rem 0 0;
  padding: 0.5rem;
  border-radius: 100%;
  z-index: 1;
}
.container-final .col-izq-final .container-redes .redes svg path {
  z-index: 2;
}
.container-final .col-izq-final .container-galeria {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4rem;
}
.container-final .col-izq-final .container-galeria a {
  text-decoration: none;
}
.container-final .col-izq-final .container-galeria img {
  width: 8rem;
  height: auto;
  margin-right: 0.2rem;
}
.container-final .col-izq-final .container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-top: 3.5rem;
  padding-bottom: 0.6rem;
  background-color: #00348C;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.container-final .col-izq-final .container-footer .boton-home {
  width: 50%;
  align-self: center;
  justify-self: center;
  margin: 1rem;
}
.container-final .col-izq-final .container-footer .boton-home button {
  border: 1px solid #FFFFFF;
  border-radius: 29px;
  padding: 0.7rem 1.1rem;
  text-transform: uppercase;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 0.65rem;
}
.container-final .col-izq-final .container-footer .boton-home button:hover {
  color: #00348C;
}
.container-final .col-izq-final .container-footer .footer-redes {
  width: 50%;
  text-align: left;
}
.container-final .col-izq-final .container-footer .footer-redes h6 {
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 0.65rem;
  color: #ffffff;
  padding-top: 1rem;
}
.container-final .col-izq-final .container-footer .footer-redes .logos-redes {
  color: #ffffff;
}
.container-final .col-izq-final .container-footer .footer-redes .logos-redes svg {
  margin: 0 0.4rem 0 0;
}
.container-final .col-izq-final .container-footer .footer-redes span {
  color: #ffffff;
  font-family: "ITC Avant Garde Gothic Std", Arial;
  font-weight: lighter;
  font-size: 0.6rem;
}
.container-final .container-foto-greeicy-02 {
  width: 50%;
}
.container-final .container-foto-greeicy-02 img {
  float: left;
  overflow: hidden;
  width: 43rem;
  height: auto;
}